<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{admin/fragments/head :: head}">
<meta charset="UTF-8">
</head>
<body class="hold-transition skin-blue sidebar-mini">
	<!-- Site wrapper -->
	<div class="wrapper">

		<header th:replace="~{admin/fragments/header :: header}"></header>
		<!-- =============================================== -->

		<!-- Left side column. contains the sidebar -->
		<aside th:replace="~{admin/fragments/sidebar :: sidebar}"></aside>
		<!-- =============================================== -->

		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<section class="content-header">
				<ol class="breadcrumb">
					<li><a href="/admin"><i class="fa fa-dashboard"></i>Trang chủ</a></li>
					<li><a href="/admin/news">Danh sách bài viết</a></li>
					<li class="active">Thêm mới bài viết</li>
				</ol>
			</section>

			<!-- Main content -->
			<section class="content">
				<div class="box box-primary" bis_skin_checked="1">
					<div class="cf-title-06">
						<h3>Thêm bài viết mới</h3>
					</div>

					<form role="form" method="post" th:action="@{/admin/add-news}"
						th:object="${news}" enctype="multipart/form-data">

						<div class="box-footer" bis_skin_checked="1">
							<button type="submit" class="btn btn-primary">Save New</button>
						</div>

						<div class="box-body">
							<div class="form-group">
								<label for="exampleInputEmail1">Category</label> <select
									class="form-control" th:field="*{category.id}">
									<th:block th:each="category : ${categories}">
										<option th:if="${category.status}" th:value="${category.id}"
											th:text="${category.name}"></option>
									</th:block>
								</select>
							</div>
							<div class="form-group">
								<label for="exampleInputEmail1">New Title</label> <input
									type="text" class="form-control" onkeyup="ChangeToSlug()"
									id="NewTitle" th:field="*{title}" placeholder="Enter New Title" />
							</div>
							<div class="form-group">
								<label for="exampleInputEmail1">New Slug</label> <input
									type="text" class="form-control" id="slug" th:field="*{slug}"
									placeholder="Enter New Slug" />
							</div>
							<div class="form-group">
								<label for="exampleInputEmail1">New Thumbnail</label> <input
									type="file" class="form-control" id="NewThumbnail"
									name="fileImage" /> <img id="imagePreview" src=""
									alt="Image Preview" style="max-width: 300px; display: none;" />
							</div>
							<div class="form-group">
								<label for="exampleInputEmail1">New Meta</label> <input
									type="text" class="form-control" id="MetaTitle"
									th:field="*{meta}" placeholder="Enter New Meta" />
							</div>
							<div class="form-group">
								<label for="exampleInputEmail1">New Content</label>
								<textarea rows="10" cols="80" type="text"
									class="form-control tinymce_decrisption" id="content"
									th:field="*{content}" placeholder="Enter New Content"></textarea>
							</div>

						</div>

					</form>
				</div>
			</section>
			<!-- /.content -->
		</div>
		<!-- /.content-wrapper -->

		<footer th:replace="~{admin/fragments/footer :: footer}"></footer>

	</div>
	<!-- ./wrapper -->

	<!-- jQuery 3 -->
	<div th:replace="~{admin/fragments/scripts :: scripts}"></div>
	<script>
        $('.tinymce_decrisption').tinymce({
            height: 500,
            custom_undo_redo_levels: 10,
            browser_spellcheck: true,
            plugins: [ 'ai', 'a11ychecker', 'advlist', 'advcode', 'advtable', 'autolink', 'checklist',
                       'export', 'lists', 'link', 'image', 'charmap', 'preview', 'anchor',
                       'searchreplace', 'visualblocks', 'powerpaste', 'fullscreen', 'formatpainter',
                       'insertdatetime', 'media', 'table', 'help', 'tableofcontents', 'wordcount' ],
            toolbar: 'tableofcontents | undo redo | a11ycheck casechange blocks | bold italic backcolor | alignleft aligncenter alignright alignjustify | bullist numlist checklist outdent indent | removeformat | code table help',
            tableofcontents_depth: 3,
            content_style: 'body { font-family:Helvetica,Arial,sans-serif; font-size:16px }',
            images_file_types: 'jpg,png,jpeg,svg,webp',
            file_picker_types: 'file image media',
            tinycomments_mode: 'embedded',
            tinycomments_author: 'Author name',
            mergetags_list: [
                { value: 'First.Name', title: 'First Name' },
                { value: 'Email', title: 'Email' },
            ],
            ai_request: (request, respondWith) => respondWith.string(() => Promise.reject("See docs to implement AI Assistant")),
            charset: 'utf-8',
            formats: {
                // Changes the alignment buttons to add a class to each of the matching selector elements
                alignleft: { selector: 'p,h1,h2,h3,h4,h5,h6,td,th,div,ul,ol,li,table,img,audio,video', classes: 'left' },
                aligncenter: { selector: 'p,h1,h2,h3,h4,h5,h6,td,th,div,ul,ol,li,table,img,audio,video', classes: 'center' },
                alignright: { selector: 'p,h1,h2,h3,h4,h5,h6,td,th,div,ul,ol,li,table,img,audio,video', classes: 'right' },
                alignjustify: { selector: 'p,h1,h2,h3,h4,h5,h6,td,th,div,ul,ol,li,table,img,audio,video', classes: 'full' }
              },
            // ...các tùy chọn khác...
        });
	</script>
	
	//Hiển thị ảnh chọn (preview) trước khi upload
	<script>
		const imageInput = document.getElementById('NewThumbnail');
		const imagePreview = document.getElementById('imagePreview');

		imageInput.addEventListener('change', function() {
			if (imageInput.files && imageInput.files[0]) {
				const reader = new FileReader();

				reader.onload = function(e) {
					imagePreview.src = e.target.result;
					imagePreview.style.display = 'block';
				};

				reader.readAsDataURL(imageInput.files[0]);
			}
		});
	</script>
	<script>
		function ChangeToSlug() {

			var slug;

			//Lấy text từ thẻ input title
			slug = document.getElementById("NewTitle").value;
			slug = slug.toLowerCase();
			//Đổi ký tự có dấu thành không dấu
			slug = slug.replace(/á|à|ả|ạ|ã|ă|ắ|ằ|ẳ|ẵ|ặ|â|ấ|ầ|ẩ|ẫ|ậ/gi, 'a');
			slug = slug.replace(/é|è|ẻ|ẽ|ẹ|ê|ế|ề|ể|ễ|ệ/gi, 'e');
			slug = slug.replace(/i|í|ì|ỉ|ĩ|ị/gi, 'i');
			slug = slug.replace(/ó|ò|ỏ|õ|ọ|ô|ố|ồ|ổ|ỗ|ộ|ơ|ớ|ờ|ở|ỡ|ợ/gi, 'o');
			slug = slug.replace(/ú|ù|ủ|ũ|ụ|ư|ứ|ừ|ử|ữ|ự/gi, 'u');
			slug = slug.replace(/ý|ỳ|ỷ|ỹ|ỵ/gi, 'y');
			slug = slug.replace(/đ/gi, 'd');
			//Xóa các ký tự đặt biệt
			slug = slug
					.replace(
							/\`|\~|\!|\@|\#|\||\$|\%|\^|\&|\*|\(|\)|\+|\=|\,|\.|\/|\?|\>|\<|\'|\"|\:|\;|_/gi,
							'');
			//Đổi khoảng trắng thành ký tự gạch ngang
			slug = slug.replace(/ /gi, "-");
			//Đổi nhiều ký tự gạch ngang liên tiếp thành 1 ký tự gạch ngang
			//Phòng trường hợp người nhập vào quá nhiều ký tự trắng
			slug = slug.replace(/\-\-\-\-\-/gi, '-');
			slug = slug.replace(/\-\-\-\-/gi, '-');
			slug = slug.replace(/\-\-\-/gi, '-');
			slug = slug.replace(/\-\-/gi, '-');
			//Xóa các ký tự gạch ngang ở đầu và cuối
			slug = '@' + slug + '@';
			slug = slug.replace(/\@\-|\-\@|\@/gi, '');
			//In slug ra textbox có id “slug”
			document.getElementById('slug').value = slug;
		}
	</script>
</body>
</html>
