<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{admin/fragments/head :: head}">
	 <meta charset="UTF-8"/>
</head>
<body class="hold-transition skin-blue sidebar-mini">
	<!-- Site wrapper -->
	<div class="wrapper">

		<header th:replace="~{admin/fragments/header :: header}"></header>
		<!-- =============================================== -->

		<!-- Left side column. contains the sidebar -->
		<aside th:replace="~{admin/fragments/sidebar :: sidebar}"></aside>
		<!-- =============================================== -->

		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<section class="content-header">
				<ol class="breadcrumb">
					<li><a href="/admin"><i class="fa fa-dashboard"></i>Trang chủ</a></li>
					<li><a href="/admin/role">Danh sách vai trò</a></li>
					<li class="active">Thêm mới vai trò</li>
				</ol>
			</section>

			<!-- Main content -->
			<section class="content">
				<div class="box box-primary" bis_skin_checked="1">
					<div class="cf-title-06">
						<h3>
							Thêm mới vai trò
						</h3>
					</div>

					<form role="form" method="post" th:action="@{/admin/add-role}" th:object="${role}">
						<div class="box-body">
							<div class="form-group" >
								<label for="roleName">Role Name</label>
								<input th:field="*{name}" id="roleName" type="text" class="form-control" placeholder="Enter Role Name"/>
							</div>
						</div>

						<div class="box-footer" bis_skin_checked="1">
							<button type="submit" class="btn btn-primary">Save Role</button>
						</div>
					</form>
				</div>
			</section>
			<!-- /.content -->
		</div>
		<!-- /.content-wrapper -->

		<footer th:replace="~{admin/fragments/footer :: footer}"></footer>

	</div>
	<!-- ./wrapper -->

	<!-- jQuery 3 -->
	<div th:replace="~{admin/fragments/scripts :: scripts}"></div>


</body>
</html>
