<head> <meta charset="UTF-8"/> </head>
<aside class="main-sidebar" th:fragment="sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel">
        <div class="pull-left image">
          <img th:src="@{/adminAssets/images/user2-160x160.jpg}" class="img-circle" alt="User Image"/>
        </div>
        <div class="pull-left info">
          <p><span th:text="${userDetails.lastname}"></span></p>
          <a th:href="@{#}"><i class="fa fa-circle text-success"></i> Online</a>
        </div>
      </div>
      <!-- search form -->
      <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="Search..."/>
          		<span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
        </div>
      </form>
      <!-- /.search form -->
      <!-- sidebar menu: : style can be found in sidebar.less -->

      <ul class="sidebar-menu" data-widget="tree">
        <li>
          <a th:href="@{/}" target="_blank">
            <i class="fa fa-home"></i> <span>Website chính</span>
          </a>
        </li>

        <li th:each="role: ${userDetails.roles}" class="treeview">
          <th:block th:if="${role.name == 'ADMIN'}">
          <a th:href="@{/admin/category}">
            <i class="fa fa-th"></i> <span>Quản lý danh mục</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul  class="treeview-menu">
            <li><a href="/admin/category"><i class="fa fa-circle-o"></i> Danh sách danh mục</a></li>
            <li><a href="/admin/add-category"><i class="fa fa-circle-o"></i> Thêm mới danh mục</a></li>
          </ul>
          </th:block>
        </li>

        <li class="treeview">
          <a href="/admin/news">
            <i class="fa fa-pencil-square"></i> <span>Quản lý bài viết</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="/admin/news"><i class="fa fa-circle-o"></i> Danh sách bài viết</a></li>
            <li><a href="/admin/add-news"><i class="fa fa-circle-o"></i> Thêm mới bài viết</a></li>
          </ul>
        </li>

        <li th:each="role: ${userDetails.roles}" class="treeview">
          <th:block th:if="${role.name == 'ADMIN'}">
            <a href="/admin/role">
            <i class="fa fa-user-secret"></i> <span>Quản lý vai trò</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="/admin/role"><i class="fa fa-navicon"></i> Danh sách vai trò</a></li>
            <li><a href="/admin/add-role"><i class="fa fa-plus-square"></i> Thêm mới vai trò</a></li>
          </ul>
          </th:block>
        </li>

        <li th:each="role: ${userDetails.roles}" class="treeview">
          <th:block th:if="${role.name == 'ADMIN'}">
          <a href="/admin/news">
            <i class="fa fa-user"></i> <span>Quản lý tài khoản</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="/admin/user"><i class="fa fa-users"></i> Danh sách tài khoản</a></li>
            <li><a href="/admin/add-user"><i class="fa fa-user-plus"></i> Thêm mới tài khoản</a></li>
          </ul>
          </th:block>
        </li>

        <li th:each="role: ${userDetails.roles}" class="treeview">
          <th:block th:if="${role.name == 'ADMIN'}">
          <a th:href="@{#}">
            <i class="fa fa-dashboard"></i> <span>Quản lý banner</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a th:href="@{#}"><i class="fa fa-circle-o"></i> Dashboard v1</a></li>
            <li><a th:href="@{#}"><i class="fa fa-circle-o"></i> Dashboard v2</a></li>
          </ul>
          </th:block>
        </li>
        
        <li> 
          <a th:href="@{#}">
            <i class="fa fa-th"></i> <span>Widgets</span>
            <span class="pull-right-container">
              <small class="label pull-right bg-green">Hot</small>
            </span>
          </a>
        </li>
        
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>
